hr
div.col-md-6
    h2 Feed Items
    each ep in episodes
        div.card.mb-5
            div.card-block
                h4.card-title #{ep.title}
                h5.card-title.text-muted #{ep.author}

                img(class="img-fluid img-thumbnail" src="#{ep.thumbnail}" style="max-height:300px;")
                audio(controls style="width:100%" class="m-1" preload="none")
                    source(src="#{ep.audio}" type="audio/mpeg") Your browser does not support the audio element.
                button(class="btn btn-outline-info btn-large playspeed") Playback Speed: x
                div.card-text
                    p !{ep.description}

script.
    $(document).ready(function(){
        $(".playspeed").each(function(){
            var pb = $(this).parent().find("audio").get(0).playbackRate;
            $(this).text("Playback Speed: "+pb+"x");
        });
    });
    $(".playspeed").on("click", function(){
        var audioElement = $(this).parent().find("audio").get(0);
        var originalSpeed = audioElement.playbackRate;
        var newSpeed = 0;
        if(originalSpeed < 3){
            newSpeed = originalSpeed + .5;
        }
        else{
            newSpeed = 0.5;
        }
        audioElement.playbackRate = newSpeed;
        $(this).text("Playback Speed: "+newSpeed+"x");
    });
    $("audio").on("play", function(){
        var _this = $(this);
        $("audio").each(function(i,el){
            if(!$(el).is(_this))
                $(el).get(0).pause();
        });
    });