extends template.pug
block content
	div.row.justify-content-sm-center
		div.col-md-8
			h3 Choose a New Password
			form.navbar-form.navbar-left
				div.form-group.row
					label(for="passwdSignup" class="col-form-label col-sm-2") Password:
					div.col-sm-10
						input(id="passwdSignup" type="password" class="form-control" placeholder="Password")
				a(class="btn btn-success form-control" style="color:#FFFFFF" href="#" onclick="signup();") Reset Password
block afterJqueryLoad
	script.
		$(function (){
			$("#passwdSignup").keypress(function (e){
				if(e.which === 10 || e.which === 13){
					signup();
				}
			});
		});
		function signup(){
			$.get("/#{subdir}resetPassword", {
					uname: "#{user.username}", passwd: $("#passwdSignup").val
					(), code: "#{passwordresetcode}"
				},
				function (data){
					if(data.indexOf("Success") > -1){
						location.assign("/#{subdir}user/#{user.webID}");
					}
					else{
						alert(data);
					}
				});
		}
