div.col-sm-12
	h1 #{pageUser.username}'s Profile
	hr
	div
		label(for="profileURL") Profile URL: <a id="profileURL" href="#{localurl}user/#{pageUser.webID}">#{localurl}user/#{pageUser.webID}</a>
	div
		label(for="feedURL") Feed URL: <a id="feedURL" href="#{localurl}user/#{pageUser.webID}/feed/">#{localurl}user/#{pageUser.webID}/feed/</a>
	div
		label(for="name") Full Name: <span id="name">#{pageUser.fName} #{pageUser.lName}</span>
	div
		label(for="gender") Gender:
		span(id="gender")
			if pageUser.gender == 1
				| Male
			else if pageUser.gender == 2
				| Female
			else
				| Other
div.col-sm-12
	include userPageStats.pug
	hr
	if pageUser.privateFeed
		h4 User's feed is private

unless pageUser.privateFeed
	include userFeed.pug
